[submodule "libfrser"]
	path = libfrser
	url = https://github.com/jevinskie/libfrser-teensy4
	branch = teensy4
[submodule "teensyduino-cores"]
	path = teensyduino-cores
	url = https://github.com/jevinskie/teensyduino-cores-jevtweaks
	branch = jev/main
